<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.social.twitter }}">
{% if page.title %}
<meta name="twitter:title" content="{{ page.title }}">
{% else %}
<meta name="twitter:title" content="{{ site.name }}">
{% endif %}
{% if page.description %}
<meta name="twitter:description" content="{{ page.description | markdownify | strip_html | truncatewords: 50 }}">
{% else %}
<meta name="twitter:description" content="{{ site.description | markdownify | strip_html | truncatewords: 50 }}">
{% endif %}
{% if page.image %}
<meta name="twitter:image" content="{{ "/assets/images/post/" | append: page.image | prepend: site.baseurl }}">
{% else %}
<meta name="twitter:image" content="{{ "/assets/images/author.jpg" | prepend: site.url }}">
{% endif %}