---
---
// Imports
@import "variables";

// Bulma.io CSS Framework
@import "bulma";

// Font-Awesome
@import "font-awesome/font-awesome.scss";

// Custom
.nav-brand {
  font-weight: bold;
}

.post-card {
  .post-title {
    font-size: 1.6em;
  }
  .post-categories {
    margin-bottom: 5px;
  }
}

.highlight {
  margin-bottom: 1em;
}
